{% extends "layout.html" %}
{% block content %}

<div id="invoice_table">
<table>
<tr>
	<td>Date</td>
	<td>Order#</td>
	<td>Description</td>
	<td>Amount</td>
	<td>Online Payment</td>
</tr>
{% for elems in invoices %}
<tr>
	<td> {{ elems.0.0 }} </td>
	<td> {{ elems.0.1 }} </td>
	<td> {{ elems.0.2 }} </td>
<td>
	<form action="/charge" method="post">
	<article>
	<label>
		<span>Amount is ${{amount}}</span>
	</label>
	</article>

	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		data-key="{{ key }}"
		data-description="{{description}}"
		data-amount="{{amount}}"
		data-locale="auto"></script>
	</form>
</td>
</tr>
{%endfor%}
</table>

{% endblock %}
